<?xml version="1.0" encoding="utf-8" ?>
<root>
      
    <totalitens>269</totalitens>
    
        <totaleditorias>36</totaleditorias>        
        <totaljornais>9</totaljornais>
    
    
    <data>01/03/2014 a 08/07/2014</data>
    
        <datacompleta>01 de Março de 2014 a 08 de Julho de 2014</datacompleta>
        <diasemana>Sábado a Terça-feira</diasemana>
    

</root>